.nav-main {
    display: flex;
    align-items: center;
    height: 5vw;
    width: 95vw;
    background-color:black;
    color: greenyellow;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
    border-bottom: 1px solid greenyellow;
}

.nav-icons .icons-div{
    margin-right: 50px;
    font-size:x-large;
    color: greenyellow;
}



.nav-input input{
    width: 30vw;
    height: 30px;
    position: relative;
    border: 1px solid greenyellow;
}

.search-icon{
    height: 30px;
    background-color: #fff; 
    position: absolute;
    left: 55%;
    top: 3.5%;
    border: none;
}

